@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
}


li {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.container {
    max-width: 1150px;
    margin: 0 auto;
}

.section__title {
    font-size: 32px;
    line-height: 150%;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    color: #FF7119;
    margin-bottom: 8px;
    text-transform: uppercase;
}

.tel-icon {
    display: block;
    background-image: url("../assets/images/icons/phone-black.svg");
    background-repeat: no-repeat;
    width: 23.11px;
    height: 24px;
}

.tel-icon-color {
    display: block;
    background-image: url("../assets/images/icons/phone-orange.svg");
    background-repeat: no-repeat;
    width: 23.11px;
    height: 24px;
}

.tel-numm {
    display: block;
    background-image: url("../assets/images/icons/numer.svg");
    background-repeat: no-repeat;
    width: 70px;
    height: 23px;
}

.marker-orange {
    display: flex;
    background-image: url("../assets/images/icons/check-orange.svg");
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.marker-red {
    display: flex;
    background-image: url("../assets/images/icons/check-red.svg");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    flex-shrink: 0;
}

.btn {
    padding: 9px 16px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    color: #FF7119;
    border: 1px solid #FF7119;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #FFFFFF;
    width: fit-content;
}

.btn-color {
    background-color: #FF7119;
    color: #FFFFFF;
    border: 1px solid #FF7119;
}

.btn-gray {
    color: #000000;
    background-color: #C6CFD8;
    border: none;
}

.btn-header {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

.btn-outlineless {
    border: none;
    padding: 0;
}

.btn-discount {
    padding: 16px 57.5px;
    font-size: 16px;
}

.btn-cta-selection {
    padding: 16px 24px;
    font-size: 16px;
    text-align: center;
}

.btn-footer {
    padding: 16px 36px;
    display: flex;
    gap: 12px;
    align-items: center;
    width: fit-content;
    font-size: 16px;
}


/*----------HEADER---------*/
.header {
    background: #ffffff;
    border-bottom: 1px solid #e6e6e6;
}

.header__container {
    padding: 18px 0 10px;
}

.burger {
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    width: 32px;
    height: 32px;
    background: none;
    border: none;
    cursor: pointer;
}

.burger span {
    width: 24px;
    height: 2px;
    background: #30393F;
    transition: .3s;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__bottom {
    display: flex;
    align-items: center;
    gap: 24px;
}

.header__top {
    margin-bottom: 13px;
}

.header__top-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header__logo img {
    height: 36px;
}

.header__country {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header__country span {
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #30393F;
}

.header__country img {
    width: 18px;
    height: 12px;
}

.header__search {
    position: relative;
    height: 36px;
    max-width: 376px;
    width: 100%;
}

.header__search-input {
    width: 100%;
    height: 100%;
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    padding: 0 12px 0 40px;
    font-size: 14px;
    outline: none;

    background-image: url("../assets/images/icons/search.svg");
    background-repeat: no-repeat;
    background-position: 12px center;
    background-size: 16px;
}

.header__search-input:focus {
    border-color: #ff7a00;
}

.header__search-hint {
    position: absolute;
    left: 40px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: #9b9b9b;
    pointer-events: none;
    transition: opacity 0.2s ease;
}

.header__search-hint.hidden {
    opacity: 0;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    gap: auto;
    width: 100%;
}

.header__link {
    font-size: 14px;
    font-weight: bold;
    color: #3E464C;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
}

.header__link:hover {
    color: #ff7a00;
}

.header__actions {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header__icons {
    display: flex;
    gap: 16px;
    justify-content: center;
    margin-bottom: 4px;
}

.header__icon {
    width: 20px;
    height: 20px;
}

.header__icons-text {
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    line-height: 14.4px;
    color: #30393F;
}

.header__contact a img {
    width: 11px;
    height: 7px;
    object-fit: cover;
}

.mobile-menu {
    position: fixed;
    inset: 0;
    background: #fff;
    transform: translateX(100%);
    transition: transform .3s ease;
    z-index: 1000;
}

.mobile-menu.active {
    transform: translateX(0);
}

.mobile-menu.active .mobile-menu__content {
    transform: translateX(0);
}

.mobile-menu__content {
    height: 100%;
    padding: 24px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    position: relative;
}

.mobile-menu__nav {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 24px;
}

.mobile-menu__nav a {
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #30393F;
}

.mobile-menu__actions {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.mobile-menu__close {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 32px;
    height: 32px;
    background: none;
    border: none;
    cursor: pointer;
}

.mobile-menu__close::before,
.mobile-menu__close::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 2px;
    background: #30393F;
}

.mobile-menu__close::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.mobile-menu__close::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}


/*----------BANNER---------*/
.banner {
    padding: 24px 0;
    position: relative;
    z-index: 10;
}

.banner::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
    width: 80%;
    height: 58px;
    background: radial-gradient(ellipse at center,
            rgba(255, 107, 0, 0.85) 0%,
            rgba(255, 167, 37, 0.45) 35%,
            rgba(255, 255, 255, 0.35) 55%,
            rgba(255, 255, 255, 0) 70%);
    pointer-events: none;
    z-index: 1;
}

.banner__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 16px;
    padding: 34px 0 32px;
    background: #ffe4c6;
    background: linear-gradient(90deg, #FAC28F 0%, #FDE3CA 100%);
    position: relative;
    z-index: 10;
}

.banner__content {
    max-width: 60%;
}

.banner__title {
    background-image: url("../assets/images/icons/tilte-bg.svg");
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 17px;
}

.banner__title h2 {
    font-size: 48px;
    font-weight: 700;
    padding: 12px 28px;
    color: #FFFFFF;
    line-height: 59px;
    font-family: "Monserrat", sans-serif;
    margin-left: 80px;
}

.banner__offers {
    display: flex;
    gap: 104px;
    padding-left: 51px;
}

.offer__percent {
    position: relative;
}

.offer__percent img {
    position: absolute;
    top: -20px;
    right: -100px;
}

.offer__percent-text {
    text-align: center;
}

.offer__percent-text h3 {
    font-size: 97.3px;
    font-weight: 800;
    color: #2D4051;
    font-family: "Monserrat", sans-serif;
    margin: 0;
    line-height: 100%;
}

.offer__percent-text span {
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
    color: #2D4051;
    font-family: "Monserrat", sans-serif;
    margin: -20px 0 0;
}

.offer__text p {
    margin: 9px 0 0;
    font-size: 16px;
    font-weight: 800;
    color: #FF7119;
    font-family: "Monserrat", sans-serif;
    text-transform: uppercase;
}

.white-circle {
    padding: 4px 16px;
    background-color: #FFFFFF;
    color: #2D4051;
    border-radius: 56px;
    font-size: 12px;
}

.banner__image {
    max-width: 421px;
    height: 163px;
    text-align: right;
}

.banner__image img {
    width: 90%;
    object-fit: cover;
}



/*----------DISCOUNT---------*/
.discount {
    margin-top: 44px;
}

.discount__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.discount__info {
    max-width: 729px;
}

.discount__info-text {
    font-size: 18px;
    line-height: 150%;
    color: #30393F;
}

.discount__info-buttons {
    display: flex;
    gap: 24px;
    margin-top: 24px;
}


/*----------CONDITIONS---------*/
.conditions {
    margin-top: 24px;
}

.conditions__container {
    padding: 0 0 16px;
}

.conditions__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.conditions__list-item {
    font-size: 18px;
    line-height: 150%;
    color: #30393F;
    font-family: "Open Sans", sans-serif;
    list-style: none;
    display: flex;
    gap: 8px;
}



/*----------BELTS---------*/
.belts {
    margin-top: 24px;
}

.belts__container {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 16px;
    gap: 16px;
    padding: 32px 32px 0;
    background: #D9D9D9;
    background: linear-gradient(90deg, #D9D9D9 0%, #FFFFFF 100%);
}

.section__title-belts {
    font-size: 24px;
    line-height: 28px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: #000A12;
    margin-bottom: 24px;
}

.belts__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-bottom: 32px;
}

.belts__list-item {
    font-size: 16px;
    line-height: 24px;
    color: #000A12;
    opacity: 0.87;
    display: flex;
    gap: 16px;
    align-items: center;
    text-align: left;
}

.belts__list-item b {
    white-space: nowrap;
}

.belts__image {
    width: 310px;
    align-self: flex-end;
}

.belts__image img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}



/*----------CTA---------*/
.cta-selection {
    margin-top: 24px;
}

.cta-selection__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.cta-selection__text {
    font-size: 18px;
    line-height: 150%;
    color: #30393F;
}


/*----------FOOTER---------*/
footer {
    margin-top: 24px;
}

.footer__container {
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    padding: 24px 0 80px;
}

.footer__buttons {
    display: flex;
    justify-content: center;
    gap: 48px;
}